.todoItem {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 350px;
  position: relative;
}

.checked {
  color: #ccc;
  text-decoration: line-through;
}
.remove {
  color: red;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 24px;
  display: none;
}

.todoItem:hover .remove {
  display: block;
}
